
@model Pizzerie.Models.DogViewModel
@{
}
<h1>Create dog form</h1>
<hr></hr>


<div class="row">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                <h5>Create new dog:</h5>
            </div>



            <div class="card-body">
                <form asp-controller="HelloWorld" asp-action="CreateDog" method="post">
                    <div class="mb-3">
                        <label class="form-label">Dog name</label>
                        <input asp-for=Name type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Dog age</label>
                        <input asp-for=Age type="number" class="form-control" />
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary"
                                onclick="">
                            SAVE THE NEW DOG
                        </button>
                    </div>


                </form>
            </div>



            


            <div class="card-footer">

            </div>
        </div>

    </div>
